.sortBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.label {
  font-size: 1rem;
  color: var(--primary-text-dark);
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre le label "Trier par" et le bouton */
  z-index: 100;
}

.toggle {
  background-color: #901C1C;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.2rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.toggle[aria-expanded="true"] {
  border-radius: 5px 5px 0 0;
}

.arrow {
  margin-left: 10px;
  font-size: 0.8rem;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  background-color: #901C1C;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.option {
  padding: 15px 20px;
  color: white;
  border-top: 1px solid white; /* La ligne blanche de ton image */
  cursor: pointer;
}



.option.focused {
  background-color: #DB8876; /* Couleur de focus pour l'accessibilité */
  color: black;
}

.option.active {
  display: none; /* Masquer l'option active dans le menu */
}